[submodule "gtk4-rs"]
	path = gtk4-rs
	url = git@github.com:gtk-rs/gtk4-rs.git
[submodule "vendor/i3"]
	path = vendor/i3
	url = git@github.com:i3/i3.git
[submodule "reference/xsecurelock"]
	path = reference/xsecurelock
	url = https://github.com/google/xsecurelock.git
[submodule "reference/screenruster"]
	path = reference/screenruster
	url = https://github.com/meh/screenruster.git
[submodule "reference/slock"]
	path = reference/slock
	url = https://github.com/tmhedberg/slock.git
[submodule "reference/jLink"]
	path = reference/jLink
	url = https://github.com/Watchdog0x/jLink.git
